@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --brown: rgb(197, 111, 61);
  --dark-brown: rgb(139, 69, 19);
  --light-brown: rgb(247, 187, 142);
}

@font-face {
  font-family: 'poppins';
  src: url('../src/fonts/Poppins-Regular.ttf');
}